<div class="card-body">
    <form novalidate [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <fieldset>   
            
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input 
                    type="text"
                    class="form-control"
                    formControlName = "email"
                    id="txtEmail"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="txtPassword">Password</label>
                <input 
                    type="password"
                    class="form-control"
                    formControlName = "password"
                    id="txtPassword"
                    placeholder="Enter password">
            </div>                                            
        </fieldset>

        <button type="submit" class="btn btn-primary mt-2">Login</button>
    </form>