<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/drones">{{pageTitle}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/drones" routerLinkActive="active">Drone List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/drones/add-drone" routerLinkActive="active">Add Drone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="mt-2">
    <router-outlet></router-outlet>
</div>